
<div class="ui segment">
<form class="ui form">
    <div class="ui segment">
        <i class="truck icon"></i>
        <div class="content">
            <div class="title">Shipping</div>
            <div class="description">Choose your shipping options</div>
        </div>
    </div>
    <div class="field">
        <label>Nom</label>
        <input type="text" name="first-name" placeholder="Nom">
    </div>
    <div class="field">
        <label>Domain</label>
        <input type="text" name="last-name" placeholder="Domain">
    </div>
    <div class="field">
        <label>Alias</label>
        <input type="text" name="last-name" placeholder="Alias">
    </div>
    <div class="ui segment">
        <button class="ui green button" type="submit">Valider</button>
        <button class="ui button" type="submit">Annuler</button>
    </div>
</form>
</div>
