<div class="ui segment olive top">
    <form class="ui form" action="{{path('orga.delete',[id])}}" method="post">
        <button class="ui basic olive button" type="button"><i class="delete icon"></i>Suppression d'une organisation...</button>
        <div class="ui icon message">
            <i class="delete icon"></i>
            <div class="content">
                <div class="header">
                    Suppression
                </div>
                <p>Suppression d'une organisation</p>
            </div>
        </div>
        <h1>Êtes-vous sûr de vouloir supprimer l'organisation {{byId.name}}</h1>
        <div class="ui segment">
            <button class="ui olive button" type="submit"><i class="check circle outlined icon"></i>Confirmer</button>
            <a class="ui button" href="{{path('orga.index')}}"><i class="circle outline icon"></i>Annuler</a>
        </div>
    </form>
</div>
{{ script_foot | raw }}